
Latex/Project.toc
Latex/Project.synctex.gz
Latex/Project.out
Latex/Project.lot
Latex/Project.log
Latex/Project.lof
Latex/Project.fls
Latex/Project.aux
Latex/Project.fdb_latexmk
Latex/Configuration_Files/config.tex
myenv/
Python_analysisi/myenv/
